# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

beasm/accounts/               @deepeshgarg007 @ruthra-kumar
beasm/assets/                 @anandbaburajan @deepeshgarg007
beasm/loan_management/        @deepeshgarg007
beasm/regional                @deepeshgarg007 @ruthra-kumar
beasm/selling                 @deepeshgarg007 @ruthra-kumar
beasm/support/                @deepeshgarg007
pos*                            

beasm/buying/                 @rohitwaghchaure @s-aga-r
beasm/maintenance/            @rohitwaghchaure @s-aga-r
beasm/manufacturing/          @rohitwaghchaure @s-aga-r
beasm/quality_management/     @rohitwaghchaure @s-aga-r
beasm/stock/                  @rohitwaghchaure @s-aga-r
beasm/subcontracting          @rohitwaghchaure @s-aga-r

beasm/controllers/            @deepeshgarg007 @rohitwaghchaure
beasm/patches/                @deepeshgarg007 

.github/                        @deepeshgarg007
pyproject.toml                  @ankush
